*.jou
*.log
*.str
*.wdb
*.pb
*.backup
*.runs/
.cache/
.sim/
.hw/
.ip_user_files/
*.tmp
*.zip
*.bit
*.bin

work/
waves/

.DS_Store
Thumbs.db
*~
*.swp

!.metadata/
!.platforms/
!*.xsa
!*.c
!*.h
!*.v
!*.vhd
!*.bd
!*.xdc
!*.tcl
!*.xml
!*.xci
!*.xpr