build_info.json

^bin/dep/all
bin/*
.cproject
.project
.pydevproject
.settings/*
.vscode/*
*~
tools/make/config.mk
cflie.*
version.c
tags

/cf2.*
/tag.*
*.gch

current_platform.mk

/generated/test/build/**
!/generated/test/build/.gitkeep
/generated/test/mocks/**
!/generated/test/mocks/.gitkeep
/generated/**

**/__pycache__/**

/docs/.jekyll-metadata
docs/.jekyll-cache
docs/api
